* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.p-fix {
  position: fixed;
}

.w-100 {
  width: 100%;
}

.w-60 {
  width: 60%;
}

.pd-20 {
  padding: 20px;
}

.pd-10 {
  padding: 10px;
}

.pd-bottom {
  padding-bottom: 10%;
}

.mg-top {
  margin: 10% 0;
}

.mg-bot {
 margin-bottom: 10%;
}

.mg-auto {
  margin: auto;
}

.mg-30 {
  margin: 30% AUTO;
}

.text-2rem {
  font-size: 2rem
}

.upper-navbar {
  padding: 0;
  padding-top: 10px;
}


.new-btn {
  background-color: #01d7d2;
  padding: 3px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.upper-navbar .col-md-12{
  font-size: 11px;
}

.upper-navbar .col-md-12 .col-md-6 {
  color: #5c6a87;
  float: left;
}

.upper-navbar a {
  text-decoration: none;
}

.upper-right ul li {
  display: inline-block;
  margin-left: 10px;
}

.upper-navbar:after {
  clear: both;
  display: table;
  content: '';
}

.bottom-navbar img {
  width: 200px;
  height: auto;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.bg-white {
  background-color: white;
}

.mg-left-30 {
  margin-left: 30px;
}

.bottom-navbar .navbar-nav>li>a {
  color: #010e28;
  padding: 25px;
  font-size: 1.5rem;
  background-color: white;
}

.bottom-navbar .navbar-nav>li>a:hover {
  color: #0069ff;

}

.sign-up {
  color: #0069ff;
  border: 2px solid #0069ff;
  margin-top: 10px;
}

.bottom-navbar .col-md-2 .btn:hover {
  color: white;
  background-color: #0069ff;
  border: 2px solid #0069ff;
}
/* FINE NAVBAR */

.bg-header {
  background-color: #0049ff;
  clear: both;
  display: table;
  content: '';
}

.text-white {
  color: #fff;
}
.hdr-text-sx {
  padding: 30px;
}
.hdr-text-sx h1 {
  font-size: 7rem
}

.hdr-text-sx p {
font-size: 2rem;
}

.hdr-box {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 5px 5px 70px #2c3e50;
}
