* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
/* NAVBAR */
.p-fix {
  position: fixed;
}

.pd-left-0 {
  padding-left: 0;
}

.pd-0 {
  padding: 0 auto;
}

.z-100 {
  z-index: 100;
}

.w-100 {
  width: 100%;
}

.w-view {
  width: 100vw;
}

.w-60 {
  width: 60%;
}

.pd-20 {
  padding: 40px;
}

.pd-10 {
  padding: 10px;
}

.pd-bottom {
  padding-bottom: 10%;
}

.mg-top-20 {
  margin-top: 20%;
}

.mg-top-10 {
  margin-top: 10%;
}

.mg-top-5 {
  margin-top: 5%;
}

.mg-bot-10 {
 margin-bottom: 10%;
}

.mg-bot-5 {
  margin-bottom: 5%;
}

.mg-auto {
  margin: auto;
}

.mg-0 {
  margin: 0;
}

.mg-left-30 {
  margin-left: 30px auto;
}

.text-2rem {
  font-size: 2rem
}

.text-white {
  color: #fff;
}

.upper-navbar {
  padding: 0;
  padding-top: 10px;
}

.bg-nav {
  background-color: #01d7d2;
}

.new-btn {
  background-color: #01d7d2;
  padding: 3px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.upper-navbar .col-md-12{
  font-size: 11px;
}

.upper-navbar .col-md-12 .col-md-6 {
  color: #5c6a87;
  float: left;
}

.upper-navbar a {
  text-decoration: none;
}

.upper-right ul li {
  display: inline-block;
  margin-left: 10px;
}

.bottom-navbar img {
  width: 200px;
  height: auto;
  margin-left: 10px;
  position: relative;
  top: 15px;
}

.bg-white {
  background-color: white;
}

.mg-left-30 {
  margin-left: 30px;
}

.bottom-navbar .navbar-nav>li>a {
  color: #010e28;
  padding: 25px;
  font-size: 1.5rem;
  background-color: white;
}

.bottom-navbar .navbar-nav>li>a:hover {
  color: #0069ff;

}

.sign-up {
  color: #0069ff;
  border: 2px solid #0069ff;
  margin-top: 10px;
}

.bottom-navbar .col-md-2 .btn:hover {
  color: white;
  background-color: #0069ff;
  border: 2px solid #0069ff;
}
/* FINE NAVBAR */

.bg-header {
  background-color: #0049ff;
  clear: both;
  display: table;
  content: '';
}



.bg-header .row .col-md-6 h1  {
  font-size: 7rem;
  font-weight: bolder;
}

.hdr-text-sx p {
font-size: 2rem;
}

.bord-rad-10 {
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 5px 5px 70px #2c3e50;
}

.container .col-12-md ul li {
  display: inline-block;
}

.container .col-12-md ul li img {
  width: 150px;
  height: auto;
  padding: 10px;
}

.main-1 ul li {
  list-style-type: none;
  padding: 10px;
  border-left: 2px solid #ecf0f1;
}

.main-1 ul li:hover {
  border-left: 2px solid #0069ff;
  background-color:  rgba(189, 195, 199, 0.2);
}



.slide-img {
  width: 600px;
  height: auto;
}

.slide-bg {
  background-color: #f3f5f9;
}



.test-bg {
  background-color: #031b4e;
}

.test-bg h1 {
  font-weight: bolder;
}

.test-1 {
  list-style-type: none;
  color: white;
  font-weight: bolder;
}

.test-bd-bot {
  border-bottom: 1px solid rgba(236, 240, 241,1.0);
}

.test-bg li {
  border-bottom: 1px solid rgba(236, 240, 241,1.0);
  list-style-type: none;
}


.pad-right-0  {
  padding-right: 0;
}

.pad-left-0 {
  padding-left  : 0;
}

.col-md-3 li a {
  color: rgba(26, 188, 156,1.0);
}

.col-md-3 li a:hover {
  color: rgba(39, 60, 117,1.0)
}
